@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


/* ============= */
/* Scrollbar styles for the entire page */
body {
  scrollbar-width: thin;
  scrollbar-color: #f41435 #f0f0f0;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f4143613;
}

::-webkit-scrollbar-thumb {
  background-color: #f41435;
  border-radius: 10px;
}

/* Change text selection color across the entire website */
::selection {
  background-color: #f41435; /* Highlight background */
  color: white; /* Text color */
}

::-moz-selection {
  background-color: #f41435;
  color: white;
}
/* ============= */

.scrollbar-hide {
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
  scrollbar-width: none; /* For Firefox */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}

.testimonialSwiper .swiper-slide {
  width: fit-content !important;
}
/* .testimonialSwiper .swiper-slide:first-child {
  padding-left: 20px;
  padding-right: 20px;
}
.testimonialSwiper .swiper-slide:first-child {
  padding-left: 0px;
}
.testimonialSwiper .swiper-slide:last-child {
  padding-right: 0px;
} */

.testimonialSwiper .swiper-pagination-bullet {
  width: 15px  !important;
  height: 15px  !important;
  background: #f3a1a1  !important;
  opacity: 1  !important;
  transition: all 0.3s ease;
}

.testimonialSwiper .swiper-pagination-bullet-active {
  background: #ed1c24 !important;
  transform: scale(1.2) !important;
}


.contacts-table tr {
  margin-top: 8px !important;
  margin-bottom: 8px !important;
}
.contacts-table tr:nth-child(even) {
  background: #FFF0F2 !important;
}
.contacts-table tr:hover {
  background: #FFF0F2 !important;
}


.birthday-reminder .ant-segmented-group{
  gap: 12px;
}
.birthday-reminder .ant-segmented-item-label{
  padding: 10px 20px;
}
.birthday-reminder .ant-select-arrow{
  right: 20px;
}

.birthday-reminder .ant-select-selector{
  padding: 0px 20px !important;
}

:where(.css-dev-only-do-not-override-14j6e0e).ant-picker,:where(.css-dev-only-do-not-override-14j6e0e).ant-select-single{
  font-family: poppins;
}

